<h4> To Do </h4>

<p>
  <strong>Title: </strong> &nbsp;&nbsp;
  <%= @todo.title%> <br>
  <strong>Content: </strong> &nbsp;
  <%= @todo.content%>
</p>
  
<p>
  <strong>Deadline: </strong> &nbsp;
  <%= @todo.ddl.strftime("%A, %m/%d, %Y")%>
</p>

<%= link_to '<button type="button">Back</button>'.html_safe, todo_index_url%> &nbsp;|&nbsp;
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_todo_path%> &nbsp;|&nbsp;
<%= link_to '<button type="button">Done</button>'.html_safe, todo_path,
        method: :delete,
        data: { confirm: 'sure?' }%>